


.container-input-search{
    width: 50%;
    padding: 9px 10px;
    display: flex;
    border-radius: 8px;
    border: 1px solid #ddd;
    align-items: center;
    input{
        border: none;
        width: 100%;
        color: #777;
        &:focus{
            outline: none;
        }
    }
    i{
        margin: 0 7px -3px;
        color: #777;
    }
}

.paginator-table{
    display: flex;
    border-top: 1px solid #ddd;
    color: #555;
    padding: 20px 10px 10px;
    font-size: 14px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    span{
        margin-left: 5px;
    }
    i{
        margin-left: 10px ;
        cursor: pointer;
        &:hover{
            color: #4794db;
        }
    }
}